body[data-theme='light'] {
  background-color: white;
  --text-color: black;
  --text-extend: aqua; }

body[data-theme='dark'] {
  background-color: black;
  --text-color: green;
  --text-extend: aqua; }

.header {
  color: var(--text-color); }

.footer {
  color: var(--text-color); }

.main h2 {
  color: var(--text-extend); }
