body[data-theme='light'] {
   background-color: white;
   --text-color: black;
   --text-extend: aqua;
}
body[data-theme='dark'] {
   background-color: black;
   --text-color: green;
   --text-extend: aqua;
}
@import 'header';
@import 'footer';
@import 'home';
